@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');       

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #424242;
    font-family: "Inter";
    letter-spacing: 1px;

}

.header {
    background-image: url('./assets/starwars.jpg');
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-text {
    font-family: 'Star Wars', sans-serif;
    letter-spacing: 1px;
    line-height: 40px;
    color: #ebe82d;
    font-size: 35px;
    width: 280px;
    position: absolute; 
    left: 9%;
    top: 18%;
}

.container, .container-2 {
    width: 380px;
    height: 400px;
    background-color: #e1dede;
    position: absolute;
    bottom: -8%;
    left: 10%;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-2 {
    left: 50%;
    background-color: #c4c4c4;
}

.container-2 p {
    margin: 5px 0px 5px 20px;
    font-size: 12px;
}

.characters {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: whitesmoke;
}


.character-name {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    background-color: #e1dede;
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.character-name:hover {
    background-color: #8e8e8e;  
    color: whitesmoke;
}

.text {
    width: 100%;
    height: 50px;
    background-color: #535556;
    color: #ebe82d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px
}

.outer-div {
    width: 100%;
    height: 100%;
}

.pagination {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0%;   
}

.pagination > i:nth-child(1) {
    transform: rotate(180deg);
    font-size: 28px;
    cursor: pointer;
}

.pagination > i:nth-child(4) {
    font-size: 28px;
    cursor: pointer;
}

.page, .pages {
    width: 20px;
    margin: 0px -10px 4px 5px;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    margin-right: 5px;
}

.spinner, .spinny-2, .spinny-3 {
    position: absolute;
    bottom: 240%;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    animation: rotation 1s linear infinite;
    }

   

    .spinny-3 {
        bottom: 30%;
        left: 50%;
        margin-left: -24px;
    }

  .spinny-spin {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    animation: rotation 1s linear infinite;
    z-index: 101;
    top: 25%;
    left: 50%;
    margin-left: -24px;
    visibility: hidden
  }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    @keyframes rotation2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
  
  

  .planet-info {
    width: 100%;
    height: 150px;
    background-color: #8e8e8e;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px
  }

  .planet-name {
    margin: 8px 0px 6px 20px;
  }

  .dark {
    background-color: #444444;
    color: whitesmoke;  
  }

  .char-attributes {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 0px;
  }

  @media screen and (max-width: 601px) {
    .header-text {
        left: 50%;
        margin-left: -140px;
    }

    .container, .container-2 {
        width: 360px;
        height: 360px;
        bottom: 10%;
        left: 50%;
        margin-left: -180px;
        z-index: 99;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .container-2 {
        bottom: -37%;
        left: 50%;
        background-color: #c4c4c4;
    }






  }



